.component5-container {
  display: flex;
  position: relative;
}
.component5-image {
  width: 303px;
  height: 85px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .component5-image {
    width: 361px;
    height: 79px;
  }
}

.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-darkblue);
}









@media(max-width: 1200px) {
  .solid-button-root-class-name2 {
    width: auto;
    height: auto;
  }
}

.tour-packages-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.tour-packages-container01 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: flex-start;
  background-size: cover;
  justify-content: center;
}
.tour-packages-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-navlink {
  display: contents;
}
.tour-packages-component {
  text-decoration: none;
}
.tour-packages-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-link {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tour-packages-navlink1 {
  color: var(--dl-color-gray-black);
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tour-packages-navlink2 {
  padding-right: var(--dl-space-space-doubleunit);
}
.tour-packages-text {
  font-size: 14px;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  margin-right: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}

.tour-packages-navlink3 {
  display: contents;
}
.tour-packages-component1 {
  text-decoration: none;
}
.tour-packages-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-burger-menu {
  width: 24px;
  height: 24px;
}
.tour-packages-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.tour-packages-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tour-packages-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tour-packages-icon03 {
  width: 24px;
  height: 24px;
}
.tour-packages-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.tour-packages-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.tour-packages-text01 {
  margin-bottom: 8px;
}
.tour-packages-text02 {
  margin-bottom: 8px;
}
.tour-packages-text03 {
  margin-bottom: 8px;
}
.tour-packages-link1 {
  display: contents;
}
.tour-packages-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.tour-packages-text05 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.tour-packages-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-link2 {
  display: contents;
}
.tour-packages-icon05 {
  width: 24px;
  height: 24px;
}
.tour-packages-link3 {
  display: contents;
}
.tour-packages-icon07 {
  width: 24px;
  height: 24px;
}
.tour-packages-link4 {
  display: contents;
}
.tour-packages-icon09 {
  width: 24px;
  height: 24px;
}
.tour-packages-pricing {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
.tour-packages-pricing1 {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
.tour-packages-container02 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.tour-packages-pricing-card {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.tour-packages-pricing-card:hover {
  transform: scale(1.02);
}
.tour-packages-text06 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.tour-packages-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tour-packages-container04 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.tour-packages-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.tour-packages-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.tour-packages-pricing-card1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.tour-packages-pricing-card1:hover {
  transform: scale(1.02);
}
.tour-packages-text08 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.tour-packages-container06 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.tour-packages-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.tour-packages-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.tour-packages-pricing-card2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.tour-packages-pricing-card2:hover {
  transform: scale(1.02);
}
.tour-packages-text13 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.tour-packages-container08 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.tour-packages-text14 {
  color: var(--dl-color-gray-500);
  margin-bottom: 32px;
}
.tour-packages-pricing2 {
  width: 100%;
  height: 884px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-quadruple);
  padding-top: 5en;
  margin-bottom: var(--dl-space-space-quadruple);
  padding-bottom: 5en;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.tour-packages-container09 {
  width: 1341px;
  height: 705px;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.tour-packages-pricing-card3 {
  width: 100%;
  height: 631px;
  display: flex;
  padding: 32px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.tour-packages-pricing-card3:hover {
  transform: scale(1.02);
}
.tour-packages-text19 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.tour-packages-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.tour-packages-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tour-packages-container11 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.tour-packages-pricing-card4 {
  width: 100%;
  height: 535px;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.tour-packages-pricing-card4:hover {
  transform: scale(1.02);
}
.tour-packages-text25 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.tour-packages-container12 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.tour-packages-text26 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-bottom: 32px;
}
.tour-packages-container13 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.tour-packages-navlink4 {
  color: var(--dl-color-gray-white);
  width: 159px;
  height: 87px;
  margin-top: var(--dl-space-space-quadruple);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-darkblue);
  border-width: 1px;
  padding-left: 32px;
  margin-bottom: var(--dl-space-space-quadruple);
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.tour-packages-navlink4:hover {
  transform: scale(1.02);
}
.tour-packages-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.tour-packages-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-link5 {
  display: contents;
}
.tour-packages-logo1 {
  text-decoration: none;
}
.tour-packages-links-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.tour-packages-text27 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.tour-packages-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.tour-packages-link6 {
  display: contents;
}
.tour-packages-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.tour-packages-link7 {
  display: contents;
}
.tour-packages-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.tour-packages-link8 {
  display: contents;
}
.tour-packages-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .tour-packages-container01 {
    height: 166px;
  }
  .tour-packages-navbar {
    height: 78px;
  }
  .tour-packages-navlink4 {
    width: 169px;
    height: 62px;
  }
}
@media(max-width: 1200px) {
  .tour-packages-text06 {
    text-transform: uppercase;
  }
  .tour-packages-text08 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .tour-packages-pricing-card2 {
    height: 771px;
  }
  .tour-packages-text13 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .tour-packages-text14 {
    color: var(--dl-color-gray-black);
  }
  .tour-packages-pricing2 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .tour-packages-container09 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .tour-packages-pricing-card3 {
    width: 338px;
    height: 785px;
  }
  .tour-packages-text19 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .tour-packages-pricing-card4 {
    width: 331px;
    height: 783px;
  }
  .tour-packages-text25 {
    text-transform: uppercase;
  }
  .tour-packages-text26 {
    color: var(--dl-color-gray-black);
    font-size: inherit;
  }
}
@media(max-width: 991px) {
  .tour-packages-pricing-card {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .tour-packages-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .tour-packages-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .tour-packages-pricing-card3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .tour-packages-pricing-card4 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .tour-packages-container01 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .tour-packages-right-side {
    display: none;
  }
  .tour-packages-burger-menu {
    display: flex;
  }
  .tour-packages-container02 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .tour-packages-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .tour-packages-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .tour-packages-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .tour-packages-container09 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .tour-packages-pricing-card3 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .tour-packages-pricing-card4 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .tour-packages-menu {
    flex-direction: column;
  }
  .tour-packages-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .tour-packages-container01 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .tour-packages-container02 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .tour-packages-pricing-card2 {
    margin-bottom: 0px;
  }
  .tour-packages-container09 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .tour-packages-pricing-card4 {
    margin-bottom: 0px;
  }
  .tour-packages-navlink4 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .tour-packages-links-container2 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tour-packages-follow-container1 {
    margin-left: 0px;
  }
}
